{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Edit file{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="books" %}
{% endblock %}

{% block container %}

<div class="container text-page">
  <h1 class="text-primary">Edit file</h1>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <h3>{{ object }}</h3>
      <form enctype="multipart/form-data" method="post">
    	{% crispy form %}
      </form>
    </div>
  </div>
</div>
{% endblock %}


