{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}{{ book.title }} :: Profile{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="books" %}
{% endblock %}


{% block container %}

<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{ book.title }}</h1>

      {% if user.is_staff %}
      <a href="{% url 'books:toggle' book.isbn %}" class="btn btn-warning">
      	{% if book.hidden %}Show{% else %}Hide{% endif %}
      </a>
      <a href="{% url 'books:delete' book.isbn %}" class="btn btn-danger">Delete</a>
      {% endif %}
    </div>
    <div class="col-sm-2"><img title="book picture" class="img-responsive" src="{% thumbnail book.picture|default:'default_profile.png' 140x140 crop %}">
    </div>
  </div>
</div>

<div class="container profile-body">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item text-right text-muted"><span class="pull-left">Information</span><a href="{% url 'books:edit' book.isbn %}" class="btn btn-xs btn-info">Edit</a>
        </li>

        <li class="list-group-item text-right"><span class="pull-left"><strong>ISBN</strong></span> {{ book.isbn }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Authors</strong></span> {{ book.authors_names }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Pages</strong></span> {{ book.pages }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Publish date</strong></span> {{ book.publish_date }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Publisher</strong></span> {{ book.publisher }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Language</strong></span> {{ book.language }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Genre</strong></span> {{ book.genre }}</li>
				
				{% if book.tags.all %}
        <li class="list-group-item text-right"><span class="pull-left"><strong>Tags</strong></span> {% for tag in book.tags.all %}{{ tag }}{% endfor %}</li>
				{% endif %}
        
        <li class="list-group-item text-right"><span class="pull-left"><strong>Rating</strong></span>
         {{ book.get_rating }} (+{{ book.get_upvotes_count }} / -{{ book.get_downvotes_count }})
        <a href="{% url 'books:upvote' book.isbn%}">
        	<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" title="Upvote"></span></a>
        <a href="{% url 'books:upvote' book.isbn%}">
        	<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" title="Downvote"></span></a>
        </li>
        
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">Description</div>
        <div class="panel-body">{{ book.description|markdown }}</div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Readers</div>
        <div class="panel-body"></div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Files
        <a href="{% url 'books:add_file' book.isbn %}"><span class="pull-right btn btn-xs btn-default">Add file</span></a></div>
	        <div class="panel-body">
	        <div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>File</th>
								{# Header for actions #}
								{% if user.is_staff %}
								<th>Actions</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for file in book.files.all %}
							<tr>
								<td>{{ file.name }}</td>
								<td>{{ file.description }}</td>
								<td><span class="glyphicon glyphicon-download-alt"></span> <a href="{{ file.file.url }}">{{ file.filename }}</a></td>
								{# Actions for staff #}
								<td>
									<a href="{% url 'books:edit_file' file.pk %}" class="btn btn-xs btn-info">Edit</a>
									<a href="{% url 'books:delete_file' file.pk %}" class="btn btn-xs btn-danger">Delete</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
	        </div>

	        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
          <form enctype="multipart/form-data" method="post">
          {% crispy form %}
          </form>
          <br>
          {% for comment in book.comments.all %}
          <div class="well">
            <a href="{{ comment.user.profile.get_absolute_url }}">{{ comment.user.name }}</a> on {{ comment.timestamp | date }} {{ comment.timestamp | time }}:
            {% if comment.blocked %}
              <p>Comment has been blocked by moderator</p>
              {% if comment.user == user %}
              <p>Reason: {{ comment.blocked_reason }}</p>
              {% endif %}
            {% else %}
            <p>{{ comment.body }}</p>
            {% endif %}

            {% if user.is_staff %}
              {% if comment.blocked %}
              <a href="{% url 'books:comment_unblock' comment.pk %}" class="btn btn-danger">Unblock</a>
              {% else %}
              <a href="{% url 'books:comment_block' comment.pk %}" class="btn btn-danger">Block</a>
              {% endif %}
            {% endif %}
          </div>
          
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}